/**
 * align element to centre
 */
.center-div {
    text-align: center;
}

.top-margin {
    margin-top: 3em;
}
.bottom-margin {
    margin-bottom: 3em;
}

a:hover {
    color: $brand-color;
}
a:visited {
    color: $brand-color;
}