
.post-header {
  margin-bottom: $base-spacing;
  padding: 5em 2em;
}

.post-title,
.post-meta {
  font-weight: $font-weight-light;

  a {
    text-decoration: none;
    color: $base-font-color;

    &:hover,
    &:focus,
    &:active {
      color: $primary-color;
    }
  }
}

.post-meta {
  font-style: italic;
}

.post-item {
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;
  border-bottom: 1px solid lighten($base-border-color, 5%);

  .post-title {
    margin-bottom: 10px;
  }

  .post-meta {
    opacity: .7;
    font-size: .8rem;
  }

  &:last-child {
    border: none;
  }
}